.active {
  color: #f57c30 !important;
  border-bottom: 2px solid #f57c30 !important;
}

.TopMenu:not(.active) {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.TopMenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: #8a8fa2;
  font-size: 18px;
  text-decoration: none;
}

.TopMenu img{
  width: 15%;
  margin-right: 5px;
}

.TopMenu a:not(.active) img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.TopMenu .active img{
  -webkit-filter: grayscale(0);/* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}
