.EventWrapper{
  width: 100%;
  color: #3b3e47;
  cursor: pointer;
  text-align: center;
}


.ChoosesBox{
  background-color: rgb(41, 41, 41);
  width: 100%;
  text-align: center;
  height: 250px;
  overflow-y: scroll;
}