.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: #fff;
  height: 100%;
  padding: 15px 10px;
  text-decoration: none;
  font-weight: 600;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
  color: rgb(248, 119, 13);
}

@media (max-width: 500px) {
  .NavigationItem{
    margin: 5px 10px;
    box-sizing: border-box;
    display: block;
    width: auto;
  }
  
  .NavigationItem a{
    padding: 5px 10px;
    color: #fff;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active{
    color: rgb(248, 119, 13);
  }

}