.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    box-shadow: inset -7px 0 15px -7px rgba(0,0,0,0.1);
}

.SideDrawer .drawerImg{
    width: 100%;
}

.SideDrawer .drawerImg img{
    width: 100%;
}

.SideDrawer .DrawerUserIcon{
    margin: -50px auto 15px auto;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 5px solid #fff;
    overflow: hidden;
}

.SideDrawer .DrawerUserIcon{
    margin: -45px auto 15px auto;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 3px solid #fff;
    position: relative;
    box-sizing: border-box;
}

.SideDrawer .DrawerUserIcon .BgUserImg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 75px;
    height: 75px;
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-102%);
}

.SideDrawer h3{
    text-align: center;
    text-transform: capitalize;
}