.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.CheckOutContinue {
  color: #5c9210;
  font-weight: 600;
  font-size: 25px;
}

.CheckOutCancel {
  color: #cf1b01;
  font-weight: 600;
  font-size: 25px;
}
