.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.Remove{
  color: #000;
}

.RemoveDivButton{
  margin-left: 15px;
}

.SubmitUserChoice{
  width: 100%;
  background-color: #55c1bc;
  color: #fff !important;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0 !important;
  position: fixed;
  bottom: 65px;
}

.CardDelete{
  color: #3b3e47;
  margin: 10px 25px !important;
  padding: 5px 5px !important;
  text-transform: uppercase;
}

.CardEdit{
  text-transform: uppercase;
  color: #55c2bc;
  border: 2px solid #55c2bc;
  border-radius: 25px;
  margin: 10px 10px !important;
  padding: 5px 25px !important;
}

.AuthSubmit{
  display: block;
  text-transform: uppercase;
  color: #55c2bc;
  border: 2px solid #55c2bc;
  border-radius: 25px;
  margin: 50px auto 0 auto !important;
  padding: 5px 25px !important;
}

