.UserChoiceCards .MuiIcon {
  color: orange;
}

.UserChoiceCards .UserChoiceCardWrapper {
  margin: 10px 24px !important;
  padding: 0;
  border-radius: 10px;
  margin: 10px auto;
  -webkit-box-shadow: 0 0 10px #ddd !important;
  box-shadow: 0 0 10px #ddd !important;
}

.UserChoiceCards .UserChoiceCardWrapper:before {
  background-color: transparent !important;
}

.UserChoiceCards .Title {
  font-size: 18px;
  font-weight: 700;
}

.UserChoiceCards .ChoiceLine {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  padding: 15px 24px;
  max-width: 80%;
  text-align: left;
}

.UserChoiceCards .Spacer {
  flex: 1 1 auto;
}

.UserChoiceCards .PanelDetails {
  flex-direction: column;
  padding: 0 !important;
}

.UserChoiceCards .PanelSummary{
  border-bottom: 1px solid #eee !important;
  justify-content: space-between !important;

}
.UserChoiceCards .PanelSummary div{
  flex-grow: 0;
  align-items: center !important;
}

.UserChoiceCards .PanelSummary div img{
  width: 25%;
  margin-right: 10px;
}

.UserChoiceCards .Buttons{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
