:root{
  margin: auto 20px;
}

.MuiIcon{
  color: orange;
}

.userChoiceCardWrapper{
  padding: 5px;
  margin: 10px auto;
  box-shadow: 5px 5px 15px #eee !important;
}

.Title{
  font-size: 18px;
  font-weight: 700;
}