.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.NavigationItem a {
  font-size: 11px;
  color: #8a8fa2;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
  color: rgb(248, 119, 13);
}

.NavigationItem a:hover img,
.NavigationItem a:active img,
.NavigationItem a.active img{
  filter: grayscale(0) !important;
}

.NavigationItem img{
  width: 30%;
}

.NavigationItem a:not(.active) img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.TopMenu .active img{
  -webkit-filter: grayscale(0);/* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}


@media (max-width: 500px) {
  .NavigationItem{
    margin: auto;
    box-sizing: border-box;
  }
  

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active{
    color: rgb(248, 119, 13);
  }

}