.active {
  color: #f57c30 !important;
  border-bottom: 2px solid #f57c30 !important;
}

.TopMenu:not(.active) {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.TopMenu a {
  border-bottom: 2px solid #ccc;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: #5d6170;
  font-size: 18px;
  text-decoration: none;
}
