/* .Layout {
  max-width: 600px;
  margin: 0 auto;
} */

.Main {
  padding-top: 45px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.Main.MenuOpen{
  left: 260px;
  position: fixed;
}

.Main.MenuClose{
  position: relative;
  left: 0px;
}