.EveryUserChoiceItemWrapper{
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.EveryUserChoiceItemWrapper .Title{
  max-width: 80%;
  text-align: left;
}

.EveryUserChoiceItemWrapper:last-child{
  border-bottom: none;
}
