.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}

.NavigationItems .IconBox {
  list-style: none;
  display: flex;
  flex-flow: raw;
  justify-content: space-between;
}

.Spacer {
  flex: 1 1 auto;
}

@media (max-width: 767px) {
  .NavigationItems {
    flex-flow: column;
  }
}